<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Pacientes</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="jumbotron" align="center" style="margin-top: 50px;">
<h1>Pacientes</h1>
<a href="listapaciente" class="btn btn-lg btn-primary">Clique aqui para ver a lista de pacientes</a>
</div>
</div>
<script src="bootstrap/js/ajax.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>